.theme-astro-vista {
  --background: rgb(26, 26, 26);
  --foreground: rgb(229, 229, 229);
  --card: rgb(32, 32, 32);
  --card-foreground: rgb(229, 229, 229);
  --popover: rgb(32, 32, 32);
  --popover-foreground: rgb(229, 229, 229);
  --primary: rgb(223, 96, 53);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(40, 65, 103);
  --secondary-foreground: rgb(229, 229, 229);
  --muted: rgb(42, 42, 42);
  --muted-foreground: rgb(128, 128, 128);
  --accent: rgb(42, 54, 86);
  --accent-foreground: rgb(191, 219, 254);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(53, 53, 53);
  --input: rgb(48, 48, 48);
  --ring: rgb(224, 93, 56);
  --chart-1: rgb(133, 166, 199);
  --chart-2: rgb(225, 111, 65);
  --chart-3: rgb(213, 68, 80);
  --chart-4: rgb(226, 177, 70);
  --chart-5: rgb(60, 76, 118);
  --sidebar: rgb(31, 31, 31);
  --sidebar-foreground: rgb(229, 229, 229);
  --sidebar-primary: rgb(224, 93, 56);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(42, 54, 86);
  --sidebar-accent-foreground: rgb(191, 219, 254);
  --sidebar-border: rgb(53, 53, 53);
  --sidebar-ring: rgb(224, 93, 56);
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
}

.theme-astro-vista ::selection {
  background: var(--primary);
  color: var(--primary-foreground);
}
