.theme-bubble-gum {
  --background: rgb(18, 36, 46);
  --foreground: rgb(243, 227, 234);
  --card: rgb(28, 46, 56);
  --card-foreground: rgb(243, 227, 234);
  --popover: rgb(28, 46, 56);
  --popover-foreground: rgb(243, 227, 234);
  --primary: rgb(251, 226, 167);
  --primary-foreground: rgb(18, 36, 46);
  --secondary: rgb(228, 162, 177);
  --secondary-foreground: rgb(18, 36, 46);
  --muted: rgb(36, 39, 43);
  --muted-foreground: rgb(228, 162, 177);
  --accent: rgb(198, 123, 150);
  --accent-foreground: rgb(243, 227, 234);
  --destructive: rgb(227, 94, 164);
  --destructive-foreground: rgb(18, 36, 46);
  --border: rgb(50, 72, 89);
  --input: rgb(32, 51, 61);
  --ring: rgb(80, 175, 182);
  --chart-1: rgb(80, 175, 182);
  --chart-2: rgb(228, 162, 177);
  --chart-3: rgb(198, 123, 150);
  --chart-4: rgb(23, 92, 108);
  --chart-5: rgb(36, 39, 43);
  --sidebar: rgb(16, 31, 40);
  --sidebar-foreground: rgb(243, 244, 246);
  --sidebar-primary: rgb(236, 72, 153);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(249, 168, 212);
  --sidebar-accent-foreground: rgb(31, 41, 55);
  --sidebar-border: rgb(55, 65, 81);
  --sidebar-ring: rgb(236, 72, 153);
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #324859;
  --shadow-2xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.50);
}

::selection {
  background: var(--primary);
  color: var(--primary-foreground);
}

