.theme-chalk {
  --background: rgb(20, 29, 43);
  --foreground: rgb(229, 236, 241);
  --card: rgb(26, 37, 51);
  --card-foreground: rgb(229, 236, 241);
  --popover: rgb(32, 44, 60);
  --popover-foreground: rgb(229, 236, 241);
  --primary: rgb(215, 223, 229);
  --primary-foreground: rgb(24, 34, 48);
  --secondary: rgb(36, 48, 64);
  --secondary-foreground: rgb(229, 236, 241);
  --muted: rgb(35, 45, 60);
  --muted-foreground: rgb(135, 148, 161);
  --accent: rgb(43, 58, 77);
  --accent-foreground: rgb(229, 236, 241);
  --destructive: rgb(255, 100, 103);
  --destructive-foreground: rgb(250, 250, 250);
  --border: rgb(43, 54, 70);
  --input: rgb(39, 52, 68);
  --ring: rgb(110, 124, 140);
  --chart-1: rgb(145, 197, 255);
  --chart-2: rgb(58, 129, 246);
  --chart-3: rgb(37, 99, 239);
  --chart-4: rgb(26, 78, 218);
  --chart-5: rgb(31, 63, 173);
  --sidebar: rgb(23, 33, 47);
  --sidebar-foreground: rgb(229, 236, 241);
  --sidebar-primary: rgb(16, 72, 230);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(36, 48, 64);
  --sidebar-accent-foreground: rgb(229, 236, 241);
  --sidebar-border: rgb(37, 48, 62);
  --sidebar-ring: rgb(110, 124, 140);
  --radius: 0.625rem;
}

.theme-chalk ::selection {
  background: var(--primary);
  color: var(--primary-foreground);
}
