.theme-cyber-yellow {
  --background: rgb(9, 9, 9);
  --foreground: rgb(251, 250, 247);
  --card: rgb(18, 18, 18);
  --card-foreground: rgb(251, 250, 247);
  --popover: rgb(18, 18, 18);
  --popover-foreground: rgb(251, 250, 247);
  --primary: rgb(255, 216, 31);
  --primary-foreground: rgb(9, 9, 9);
  --secondary: rgb(27, 27, 27);
  --secondary-foreground: rgb(250, 250, 250);
  --muted: rgb(27, 27, 27);
  --muted-foreground: rgb(153, 153, 153);
  --accent: rgb(27, 27, 27);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(192, 57, 43);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(34, 34, 34);
  --input: rgb(34, 34, 34);
  --ring: rgb(255, 216, 31);
  --chart-1: rgb(255, 216, 31);
  --chart-2: rgb(100, 125, 151);
  --chart-3: rgb(66, 144, 130);
  --chart-4: rgb(211, 204, 199);
  --chart-5: rgb(135, 161, 189);
  --sidebar: rgb(9, 9, 9);
  --sidebar-foreground: rgb(206, 206, 206);
  --sidebar-primary: rgb(255, 216, 31);
  --sidebar-primary-foreground: rgb(9, 9, 9);
  --sidebar-accent: rgb(22, 22, 22);
  --sidebar-accent-foreground: rgb(255, 216, 31);
  --sidebar-border: rgb(34, 34, 34);
  --sidebar-ring: rgb(255, 216, 31);
  --radius: 1.4rem;
}

.theme-cyber-yellow ::selection {
  background: var(--primary);
  color: var(--primary-foreground);
}
