.theme-discord {
--background: rgb(26, 26, 30);
  --foreground: rgb(251, 251, 251);
  --card: rgb(36, 36, 41);
  --card-foreground: rgb(251, 251, 251);
  --popover: rgb(30, 33, 36);
  --popover-foreground: rgb(252, 248, 250);
  --primary: rgb(88, 101, 242);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(218, 218, 218);
  --secondary-foreground: rgb(26, 26, 26);
  --muted: rgb(31, 30, 36);
  --muted-foreground: rgb(155, 155, 155);
  --accent: rgb(126, 135, 236);
  --accent-foreground: rgb(255, 255, 255);
  --destructive: rgb(218, 55, 60);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(47, 48, 50);
  --input: rgb(34, 35, 39);
  --ring: rgb(1, 176, 245);
  --chart-1: rgb(88, 100, 244);
  --chart-2: rgb(198, 212, 253);
  --chart-3: rgb(119, 141, 253);
  --chart-4: rgb(224, 232, 254);
  --chart-5: rgb(161, 183, 254);
  --sidebar: rgb(32, 32, 36);
  --sidebar-foreground: rgb(251, 251, 251);
  --sidebar-primary: rgb(88, 101, 242);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(126, 135, 236);
  --sidebar-accent-foreground: rgb(255, 255, 255);
  --sidebar-border: rgb(47, 48, 50);
  --sidebar-ring: rgb(1, 176, 245);
  --font-sans: Google Sans Flex, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Google Sans Flex, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Source Code Pro, ui-monospace, monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 8px;
  --shadow-blur: 12px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.005;
  --shadow-color: rgb(0, 0, 0);
  --shadow-2xs: 0 8px 12px 2px rgba(0, 0, 0, 0);
  --shadow-xs: 0 8px 12px 2px rgba(0, 0, 0, 0);
  --shadow-sm: 0 8px 12px 2px rgba(0, 0, 0, 0.01), 0 1px 2px 1px rgba(0, 0, 0, 0.01);
  --shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.01), 0 1px 2px 1px rgba(0, 0, 0, 0.01);
  --shadow-md: 0 8px 12px 2px rgba(0, 0, 0, 0.01), 0 2px 4px 1px rgba(0, 0, 0, 0.01);
  --shadow-lg: 0 8px 12px 2px rgba(0, 0, 0, 0.01), 0 4px 6px 1px rgba(0, 0, 0, 0.01);
  --shadow-xl: 0 8px 12px 2px rgba(0, 0, 0, 0.01), 0 8px 10px 1px rgba(0, 0, 0, 0.01);
  --shadow-2xl: 0 8px 12px 2px rgba(0, 0, 0, 0.01);
}

.theme-discord ::selection {
  background: var(--primary);
  color: var(--primary-foreground);
}
