.dark {
  --background: rgb(2, 6, 23);
  --foreground: rgb(248, 250, 252);
  --card: rgb(15, 23, 42);
  --card-foreground: rgb(248, 250, 252);
  --popover: rgb(15, 23, 42);
  --popover-foreground: rgb(248, 250, 252);
  --primary: rgb(175, 243, 62);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: #1e293b;
  --secondary-foreground: rgb(248, 250, 252);
  --muted: rgb(30, 41, 59);
  --muted-foreground: rgb(148, 163, 184);
  --accent: #14532d;
  --accent-foreground: rgb(175, 243, 62);
  --destructive: rgb(153, 27, 27);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(30, 41, 59);
  --input: rgb(30, 41, 59);
  --ring: rgb(175, 243, 62);
  --chart-1: rgb(175, 243, 62);
  --chart-2: rgb(59, 130, 246);
  --chart-3: rgb(34, 197, 94);
  --chart-4: rgb(168, 85, 247);
  --chart-5: rgb(245, 158, 11);
  --sidebar: rgb(2, 6, 23);
  --sidebar-foreground: rgb(248, 250, 252);
  --sidebar-primary: rgb(175, 243, 62);
  --sidebar-primary-foreground: rgb(0, 0, 0);
  --sidebar-accent: rgb(30, 41, 59);
  --sidebar-accent-foreground: rgb(248, 250, 252);
  --sidebar-border: rgb(30, 41, 59);
  --sidebar-ring: rgb(175, 243, 62);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.7rem;
  --shadow-x: 10px;
  --shadow-y: 10px;
  --shadow-blur: 25px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 10px 25px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 10px 25px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 10px 25px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 10px 25px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 10px 25px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 10px 25px 0px hsl(0 0% 0% / 1);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

::selection {
  background: var(--primary);
  color: var(--primary-foreground);
}

