# Database Connections
DATABASE_URL="postgresql url"
MONGODB_URI="mongodb uri"
MONGODB_DB_NAME="slavecode"

# Shared Infrastructure
REDIS_URL="redis://redis:6379"
PORT=3000
CLIENT_URL="http://localhost:3000"

CLERK_SECRET_KEY="sk_test_....."
CLERK_WEBHOOK_SECRET="whsec_....."
CLERK_PEM_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
YOUR_PUBLIC_KEY_HERE.....
-----END PUBLIC KEY-----
"

# AI Engines (Groq)
GROQ_API_KEY="[gsk_.....,gsk_.....]"

# Code Execution (Judge0 - Optional if AI Judge is used exclusively)
JUDGE0_BASE_URL="http://your_judge0_ip:2358"

# Upstash Redis (Optional fallback)
UPSTASH_REDIS_REST_URL="https://....."
UPSTASH_REDIS_REST_TOKEN="....."

# Observability
LOG_LEVEL="info" # debug, info, warn, error
CLIST_USERNAME="your_username"
CLIST_API_KEY="your_api_key"
LEETCODE_API_URL="leetcode api url"

GEMINI_API_KEY="[AQ.....,AQ.....,AQ.....]"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

AWS_ACCESS_KEY_ID="AKIA....."
AWS_SECRET_ACCESS_KEY="your_secret_key"
AWS_REGION="us-east-1"
